{% extends 'base.html.twig' %}

{% block title %}Enseignant index{% endblock %}

{% block body %}
    <h1>Enseignant index</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Matricule</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for enseignant in enseignants %}
            <tr>
                <td>{{ enseignant.id }}</td>
                <td>{{ enseignant.Matricule }}</td>
                <td>{{ enseignant.Nom }}</td>
                <td>{{ enseignant.Prenom }}</td>
                <td>
                    <a href="{{ path('app_enseignant_show', {'id': enseignant.id})}}" class="btn btn-info">show</a>
                    <a href="{{ path('app_enseignant_edit', {'id': enseignant.id}) }}" class="btn btn-warning">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_enseignant_new') }}">Create new</a>
{% endblock %}
